.navbar{
    @include respond(phone) { // width <= 600
        padding-left: 1.5rem !important;
    }
}
.navigation{
    &__list{

        & .active{
            color           : rgb(51, 51, 51) !important;
        }
        
        & a{
            font-family     : $navbar-font2;
            color           : rgba(255, 255, 255, 0.842) !important;
            font-size       : 1.5rem;
            font-weight     : 700;
            padding         : 0!important;
            margin-top      : 1.5rem;
            margin-right    : 14rem;
            margin-left     : 12.5rem;
            
            &:hover{
                color       : rgb(49, 49, 49);
            }

            @include respond(phone) { // width <= 600
                margin-left: 1rem !important;
            }
        }

        &-home{
            font-size   : 3rem !important;
        }
    }


    
}