.form-control2 {
    background-color        : rgba(255, 255, 255, 0) !important;
    display                 : inline-block;
    width                   : 90%;
    height                  : calc(0.25rem + 1px);
    padding                 : 1rem 0rem;
    line-height             : 1.5;
    -webkit-box-sizing      : content-box;
    -moz-box-sizing         : content-box;
    box-sizing              : content-box;
    
    border                  : 0 solid #b7b7b7 !important;
    border-bottom           : 2px solid !important;
    
    -webkit-border-radius   : 0px !important;
    border-radius           : 0px !important;
    
    font-size               : 2rem !important;
    
    -o-text-overflow        : clip;
    text-overflow           : clip;
    text-shadow             : 1px 1px 0 rgba(255,255,255,0.66) ;
    
    -webkit-transition      : all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition         : all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition           : all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition              : all 200ms cubic-bezier(0.42, 0, 0.58, 1);

    &:focus{
        background-color    : rgba(255, 255, 255, 0) !important;
        outline             : none !important;
        border-color        : inherit;
        -webkit-box-shadow  : none;
        box-shadow          : none;
    }
    @include respond(phone) { // width <= 600
        width   : 100%;  
        padding : 2rem 0rem;

    }
  
}

.contact-section{
    margin          : 5rem 3.5rem 5rem;
    vertical-align  : middle;
    &__form{
        padding     : 2rem;
        font-size   : 1.5rem;
        font-family : 'Josefin Sans', sans-serif;
        
        &-top{
            // padding-left: 15rem;

            h3 a {
                color: black;
                &:hover{
                    text-decoration: none;
                }
            }
            @include respond(phone) { // width <= 600
                padding-left: 0;
            }
        }

        &-bottom{
            // padding-left: 15rem;
            
            @include respond(phone) { // width <= 600
                padding-left: 0;
            }
        }

        ul{
            li{
                margin-right: 2.5rem;
                display: inline-block;
                list-style: none;
                font-size: 2.5rem;
                
                a {
                    & .fa-instagram{
                        color: #d6243c;
                        // background: #d6249f;
                        // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    }

                    & .fa-github{
                        color: black;
                    }
                }
            }
        }
        
        &-textarea{
            // border-radius: .5rem !important;
            height: 4.5rem !important;
        }
    }

}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 90%;
}

.alert-light {
    color: #242424 !important;
    background-color: transparent !important;
    border-color: #fdfdfe00 !important;
}